#Terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

# Step 0 - Packer Installation
packer_esxi_ubuntu/variables.json
packer_esxi_ubuntu/packer_cache/*
packer_esxi_ubuntu/preseed.cfg

# Step 1 - Profivion Infra
terraform_esxi_ubuntu/.terraform
terraform_esxi_ubuntu/terraform.tfstate
terraform_esxi_ubuntu/terraform.tfstate.backup
terraform_esxi_ubuntu/.terraform.tfstate.lock.info